 .Work{
    margin:4rem auto;
    width:100vw;
    max-width:70rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-contain:center;
    text-align:center;
    padding:0 1rem;
    background-color:rgb(0,118,130);
    
 }
 .WorkT{
    color:Yellow;
    font-size:2.5rem;
 }
 .WorkD{
    font-size:1rem;
    font-weight:250;
 }
 .WorkImgs{
    display:flex;
    flex-direction:column;
    flex-wrap:;
    width:80vh;
    max-width:60rem;
    align-items:center;
    justify-contain:center;
 }
 .WorkImgs{
    pointer:cursor;
    object-fir:cover;
    height:75rem;
    margin:0.5rem;
    padding: 1rem 2rem;
 }

 @medis screen and (max-width:490px;)
 {
    .WorkImgs{
        height:30vh;

    }
    .WorkD{
        font-size:.5rem;
    }
 }