.ED{
    margin: 4rem auto;
    width:100vw;
    max-width:70rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-contain:center;
    text-align:center;
    padding:0 1rem;
    background-color:rgb(0,118,130)
    
}
.EH{
    font-size:2.5rem;
    font-weight:300;
    color:black;
}
.EDesc{
    font-size:1.5rem;
    font-weight:250;

}
.Result{
margin:1rem;
}
.H1,.I,.UG,.PG{
    margin:2rem;
    
    

    
}

